.chatbot{
    display: flex;
    flex-direction: row;
    position: fixed;
    left:80%;
    top:17%;
}

.chat{
    position: fixed;
    left:95%;
    top:90%;
    border-color: white;
    border: none;
    outline: none;
    background: none;

}

.chatBtn{
    border:none;
    outline: none;
    background: none;
}